@import "src/style-utils";

.wrapper {
	display: flex;
	flex-grow: 1;
	height: 100%;
	overflow: auto;
}

.rates {
	display: flex;
	flex-direction: column;
	min-width: 300px;
}

.controls {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin: 12px 20px 0;
}

.sortIcon {
	height: 25px;
	width: 25px;
}

.controlsDescription {
	margin: 0 10px;
	width: 70%;
}

.search {
	display: flex;
	margin: 12px 20px;
	position: relative;
}

.searchIcon {
	position: absolute;
	right: 0;
}

.icon {
	cursor: pointer;
}

.disable {
	cursor: not-allowed;

	& path {
		fill: #a5a5a5;
	}
}

.switchBlock {
	align-items: center;
	border-bottom: 1px solid #d9d9d9;
	border-top: 1px solid #d9d9d9;
	display: flex;
	padding: 12px 20px;

	span {
		padding-left: 10px;
	}
}

.content {
	overflow: auto;
	width: 100%;
}

.contentTable {
	background: gray;
}
